*{
  margin: none;
  padding: none;
}

i{
  margin-top: 16px;
}

body{
  background-color: #f4e4ba;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: #fff;
  width: 80%;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

form{
  margin: 2rem 0 1rem 0;
}

form select,button,input{
  width: 90%;
  border: none;
  margin: 5px;
  outline: none;
  border-radius: 0.75rem;
}

form input{
  border: 1px solid lightgray;
  font-size: 1rem;
  height: 3rem;
}

.dropdown{
  display: flex;
  justify-content: space-between;
}

.select-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg{
  margin: 10px;
}

button{
  height: 50px;
  width: 95%;
  background-color: lightskyblue;
}

h2{
  display: flex;
  justify-content: center;
  align-items: center;
}

